.idea
cmake-build-debug
build

test*

*.a
*.o
*.so
*.dylib
a.out
generated/token.hpp

generated/lexer/lexer.yy.cpp
generated/lexer/lexer_rules.l


test
parser/parser_rules.tab*
parser/parser.cpp
parser/parser.hpp

pyvenv.cfg
some.c
lib
lib64
.venv
bin 